<div class="registerContainer">
      <h2>Criar conta</h2>
      <form [formGroup]="registerForm" (submit)="onSubmit()" class="registerForm">
            <mat-form-field class="loginItems">
                  <mat-label>Digite nome de usuario</mat-label>
                  <input matInput formControlName="userName">
            </mat-form-field>
            <mat-form-field class="loginItems">
                  <mat-label >Crie uma senha</mat-label>
                  <input matInput formControlName="password">
            </mat-form-field>
            <mat-form-field class="loginItems">
                  <mat-label>Confirme a senha</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordConfirm">

                  <button type="button" mat-icon-button matSuffix (click)="clickEvent($event)"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

            </mat-form-field>
            <mat-form-field class="loginItems">
                  <mat-label>Select</mat-label>
                  <mat-select formControlName="role">
                        <mat-option value="ADMIN">Adiministrador</mat-option>
                        <mat-option value="USER">Usuário</mat-option>
                  </mat-select>
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" class="submitButton">
                  Acessar
            </button>
      </form>
</div>