h1{
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 2.2rem;
      margin-bottom: 50px;
}

.example-container {
      margin-top: 50px;      
      display: flex;
      flex-direction: column;
      align-items: center;
     
}

.loginItems{
      width: 250px;
      height: 80px;
}

.example-container > button{
      height: 60px;
      font-size: 1.2rem;
      font-weight: bold;
}

.span-cadastro{
      margin-top: 15px;
}

.ng-valid{
      border-color: #66ff66;
}
.ng-invalid{
      border-color: #ff6565;
}
